name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    # CHANGED: Using ubuntu-22.04 (More stable for Android Builds)
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      # Setup Java 17
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # Setup Python 3.9
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      # Install System Dependencies
      - name: Install System Libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libssl-dev libffi-dev python3-dev
          sudo apt-get install -y libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev zlib1g-dev

      # Install Buildozer & Cython (Security)
      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer
          pip install cython==0.29.33

      # Build APK
      - name: Build with Buildozer
        run: |
          yes | buildozer -v android debug

      # Upload APK
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: AdvanceTools-Pro-APK
          path: bin/*.apk
